@import '~antd/dist/antd.css';

.ant-tabs-tab-active {
  color: white !important;
  font-weight: bolder !important;
  border-color: white !important;
}

.center {
  text-align: center;
}

.loader {
  text-align: center;
  height: 100vh;
  position: relative;
}

.loaderDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
