.task {
  /* border: 2px solid crimson; */
  margin: 12px 12px 0 12px;
  border-radius: 7px;
  background-color: #eeeeee;
}

.container {
  position: relative;
}

.option {
  position: absolute;
  right: 0px;
}
