.task {
  /* border: 2px solid crimson; */
  margin: 12px 12px 0 12px;
  border-radius: 7px;
  background-color: #eeeeee;
}

.container {
  position: relative;
}

.option {
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.option:hover {
  border: 2px solid rgba(78, 79, 114, 0.8);
}
